# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio config folder
AdventOfCode2024/.vs

# Intermediate and Build output directories
AdventOfCode2024/x64
AdventOfCode2024/AdventOfCode2024/x64

# Puzzle Input files
AdventOfCode2024/TestInput.txt
AdventOfCode2024/PuzzleInput.txt